.Rproj.user
.Rhistory
.RData
.Ruserdata
/ms
/data/raw_data/old
/data/old
/data/delete_this
/code/old
/code/3) Model salmon time series_dont_post_has_original_data.R
/code/`3) Model salmon time series_dont_post_has_original_data.R`
/models/old
/old
/posteriors/old
/data/data_release
/plots/temporary
