.Rproj.user
.Rhistory
.RData
.Ruserdata
/ms
/data/raw_data/fish_escapement_dont_post.csv
/data/raw_data/fish_mass_kgww_of_individual_fish_dont_post.csv
/data/raw_data/old
/data/old
/data/delete_this
/code/old
/models/old
/old
/posteriors/old
